/* Contains all the colors needed for dark theme */


.primary-color {
    background-color: black;
}

/* a dark gray color here. */
.secondary-color {
    background-color: #5D5D5D;
}


.outline-color {
    background-color: white;
}

.text-color {
    color: white;
}


/* red accent color, used in both light and dark mode.*/
.accent-color {
    background-color: #CC0000;
}
